body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 0;
    background-color: #253f4b;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* margin: 25px; */
    background-color: #253f4b;
    color: white;
    padding: 15px;

}

ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    gap: 25px;
    /* margin: 25px; */
}





.square {
    border: 5px solid blueviolet;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.main {
    display: flex;
    gap: 150px;
    /* justify-content: space-between; */
    background-color: #253f4b;
    margin: 24px;
}

.sep {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 324px;
}

.pic {
    width: 400px;
    height: 200px;
}

button {
    background-color: #608da2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 10px;
}

.boxes {
    background-color: white;
    width: 100%;
}